<include file="Public::header"/>
<include file="Public::left_nav" />
<div class="col-md-10">
    <table class="table table-bordered">
        <div class="col-md-12" style="height: 30px;padding: 0">
            <div class="col-md-6 pull-left">
                <span>角色管理</span>
            </div>
            <div class="col-md-6 ">
                <a class="pull-right" style="font-size: 16px;" href="{:U('Admin/userAdd')}">添加管理员</a>
            </div>
        </div>
        <thead>
        <tr>
            <th>角色名称</th>
            <th>创建时间</th>
            <th>角色</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="admin_user" item="vo">
            <tr>
                <td>{$vo.user_name}</td>
                <td>{$vo.create_time}</td>
                <td>{$vo.role_id}</td>
                <td>
                    <a type="button" class="btn btn-primary">查看</a>
                    <button type="button" class="btn btn-primary">修改</button>
                    <button type="button" class="btn btn-danger">删除</button>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>
<include file="Public::footer" />